name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      # Build
      - run: npm install
      - run: npm run build
      # Setup key
      - run: set -eu
      - run: mkdir "$HOME/.ssh"
      - run: echo "${{ secrets.DEV_KEY }}" > "$HOME/.ssh/DEV_KEY"
      - run: chmod 600 "$HOME/.ssh/DEV_KEY"
      # Deploy bild
      - run: .svelte-kit/build && rsync -e "ssh -i $HOME/.ssh/DEV_KEY -o StrictHostKeyChecking=no" --archive --compress --delete . admin@82.148.28.242:/var/www/zakutok/.svelte-kit/build/
      - run: .svelte-kit/build && rsync -e "ssh -i $HOME/.ssh/DEV_KEY -o StrictHostKeyChecking=no" --archive --compress --delete . admin@82.148.28.242:/var/www/zakutok/.svelte-kit/build/
      # Git pull and restart app
      - name: git pull on sever
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: |
            cd /var/www/zakutok
            pm2 restart Public\ App
          host: 82.148.28.242
          username: admin
          privateKey: ${{ secrets.DEV_KEY }}