name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # Git pull and restart app
      - name: git pull on sever
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: |
            cd /var/www/zakutok
            git reset --hard HEAD
            git clean -f -d
            git pull
            npm install
            pm2 delete all
            pm2 start ecosystem.config.cjs
          host: 82.148.28.242
          username: root
          privateKey: ${{ secrets.DEV_KEY }}